.signup-page {
    background: rgba(244, 245, 247, 1);
    color: #111827;
    font-family: "Noto Sans KR", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


header {
    background: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    padding: 16px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-family: "Sandoll GogoRound", sans-serif;
    font-size: 32px;
    font-weight: 400;
    margin: 0;
}

.back-btn {
    position: absolute;
    left: 24px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #000;
}

.back-btn:hover {
    color: #7f6aee;
}

.signup-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6vh;
}

.signup-title {
    font-family: "Pretendard", sans-serif;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 32px;
}

.signup-box {
    width: 392px;
    background: var(--bg);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profile-label {
    align-self: flex-start;
    font-weight: 500;
    margin-left: 16px;
    margin-bottom: 6px;
}

.profile-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8px;
}

.profile-upload input[type="file"] {
    display: none;
}

.profile-preview {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #d1d5db;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    color: #555;
    cursor: pointer;
    margin-bottom: 4px;
}

.helper-text {
    font-size: 12px;
    margin-top: 2px;
    color: rgba(0, 0, 0, 0.5);
    text-align: left;
    width: 100%;
    padding-left: 2px;
}

.helper-text.error {
    color: rgba(255, 0, 0, 1);
}

.signup-box input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    padding: 8px;
    margin-bottom: 2px;
}

.button-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-top: 20px;
}

.signup-submit {
    width: 360px;
    height: 40px;
    background: #aca0eb;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-weight: 600;
    cursor: not-allowed;
    transition: 0.3s;
}

.signup-submit.active {
    background: #7f6aee;
    cursor: pointer;
}

.go-login {
    background: transparent;
    color: black;
    border: none;
    cursor: pointer;
    font-weight: 500;
}