.back-btn {
    width: 90px;
    height: 30px;
    background: transparent;
    color: black;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    margin: 10px auto 0;
    display: block;
}