.comment-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.no-comments {
    text-align: center;
    color: #777;
    margin-top: 10px;
}
.comment-text {
    white-space: pre-wrap;
    word-break: break-word;
}